<ion-header>
    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen padding class="storyContent">
    <form [formGroup]="form.getForm()" (ngSubmit)="save()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="form.hasError('name')" class="alert alert-danger">
                {{form.getError('name')}}
            </div>
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="form.hasError('email')" class="alert alert-danger">
            {{form.getError('email')}}
            </div>
        </div>
        
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div *ngIf="form.hasError('username')" class="alert alert-danger">
            {{form.getError('username')}}
            </div>
        </div>
        
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description">
            <div *ngIf="form.hasError('description')" class="alert alert-danger">
            {{form.getError('description')}}
            </div>
        </div>
        
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="form.hasError('password')" class="alert alert-danger">
            {{form.getError('password')}}
            </div>
        </div>
        <div class="form-group">
            <label>RE-Password</label>
            <input type="repassword" class="form-control" formControlName="repassword">
            <div *ngIf="form.hasError('repassword')" class="alert alert-danger">
            {{form.getError('repassword')}}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
</ion-content>